{% extends "base.html" %}

{% block title %}
    Save model data
{% endblock %}

{% block content %}
    {% block model_data %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="wrapper">
                {{field.label_tag}}
                {{field}}
                <ul>
                    {%for error in field.errors%}
                    <li>
                        {{error}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            <input type="submit" value="submit">
        </form>
    </div>
    {% endblock %}
{% endblock %}
